body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

main{
    margin:auto;
}

#About{
    display:flex;
}

.hero{
    height: 400px;
    margin:auto;
}

.about_text{
    margin: 5%;
    text-align: center;
}

#Work{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    min-width: none;
}

.project{
    margin:0 5%;
}

.projectimg{
    height: 300px;
    width:300px;
}

/*This is making the border display when hovering over the project images */
.project a :hover{
    border: 3px solid darkblue;
    height: 350px;
    width:350px;
}

footer ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

/*media queries controlling the sites responsiveness*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #About {
        flex-direction: column;
    }
}

@media screen and (max-width:950px) {
    #Work {
        flex-direction:column;
    }
}